# This file makes sure that developers doing `npm install` will use the Toryt scope
#
# To publish, the developer needs to be 'logged in' to the npm registry.
# To do this, execute
#
#     npm login --scope=@toryt
#
# and give your credentials. These credentials are persisted in `~/.npmrc`.
#
# When executed in this directory, the --scope option is superfluous, since it is given below as default.

scope              = @toryt
tag-version-prefix = version/
message            = Bump version to %s
strict-ssl         = true
ca                 = null
git-tag-version    = false
